---
import Carousel from '../components/Carousel.astro'
import Features from '../components/Features.astro'
import Form from '../components/Form.astro'
import HeroSection from '../components/HeroSection.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='AsoAfro'>
  <main class='space-y-16 sm:space-y-40'>
    <HeroSection />
    <Features />
    <Carousel />
    <Form />
  </main>
</Layout>
