---
import Container from './Container.astro'
import Seven from './images/SeventhImage.astro'
import Eight from './images/EighthImage.astro'
import Nine from './images/NinethImage.astro'
import Ten from './images/TenthImage.astro'
---

<div id='servicios'>
  <Container>
    <div class='lg:w-3/4'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        viewBox='0 0 24 24'
        fill='currentColor'
        class='size-12 md:size-16 text-secondary-500 dark:text-primary-200'
      >
        <path
          fill-rule='evenodd'
          d='M9 4.5a.75.75 0 01.721.544l.813 2.846a3.75 3.75 0 002.576 2.576l2.846.813a.75.75 0 010 1.442l-2.846.813a3.75 3.75 0 00-2.576 2.576l-.813 2.846a.75.75 0 01-1.442 0l-.813-2.846a3.75 3.75 0 00-2.576-2.576l-2.846-.813a.75.75 0 010-1.442l2.846-.813A3.75 3.75 0 007.466 7.89l.813-2.846A.75.75 0 019 4.5zM18 1.5a.75.75 0 01.728.568l.258 1.036c.236.94.97 1.674 1.91 1.91l1.036.258a.75.75 0 010 1.456l-1.036.258c-.94.236-1.674.97-1.91 1.91l-.258 1.036a.75.75 0 01-1.456 0l-.258-1.036a2.625 2.625 0 00-1.91-1.91l-1.036-.258a.75.75 0 010-1.456l1.036-.258a2.625 2.625 0 001.91-1.91l.258-1.036A.75.75 0 0118 1.5zM16.5 15a.75.75 0 01.712.513l.394 1.183c.15.447.5.799.948.948l1.183.395a.75.75 0 010 1.422l-1.183.395c-.447.15-.799.5-.948.948l-.395 1.183a.75.75 0 01-1.422 0l-.395-1.183a1.5 1.5 0 00-.948-.948l-1.183-.395a.75.75 0 010-1.422l1.183-.395c.447-.15.799-.5.948-.948l.395-1.183A.75.75 0 0116.5 15z'
          clip-rule='evenodd'></path>
      </svg>

      <h2
        class='mt-8 xl:mt-12 text-4xl font-bold text-primary-700 dark:text-secondary-300 sm:text-5xl xl:text-6xl'
      >
        Nuestros Servicios
      </h2>
      <p
        class='text-primary-900 dark:text-secondary-100 text-xl sm:text-2xl lg:text-3xl my-8 sm:my-12 xl:my-16'
      >
        Destacados por la

        <span class='text-secondary-600 dark:text-primary-400'> calidad </span>

        excepcional y

        <span class='text-secondary-600 dark:text-primary-400'> atención </span>

        meticulosa a los detalles.
      </p>

      <p
        class='text-primary-900 dark:text-secondary-100 text-xl sm:text-2xl lg:text-3xl my-8 sm:my-12 xl:my-16'
      >
        Equipo de

        <span class='text-primary-600 dark:text-secondary-300'>
          profesionales
        </span>

        altamente capacitados con productos y equipos de

        <span class='text-primary-600 dark:text-secondary-300'>
          última generación.
        </span>
      </p>

      <p
        class='text-primary-900 dark:text-secondary-100 text-xl sm:text-2xl lg:text-3xl'
      >
        Nos

        <span class='text-secondary-600 dark:text-primary-400'>
          adaptamos
        </span>

        necesidades, ofreciendo una experiencia de limpieza y cuidado del jardín

        <span class='text-primary-600 dark:text-secondary-300'>
          inigualable.
        </span>
      </p>
    </div>

    <div
      class='mt-16 xl:mt-24 grid divide-x divide-y lg:grid-cols-2 divide-primary-600 dark:divide-secondary-200 overflow-hidden rounded-3xl border border-primary-600 dark:border-secondary-200'
    >
      <div
        class='group relative flex py-8 sm:justify-center bg-gray-50 dark:bg-gray-800 transition hover:shadow-2xl hover:scale-105 lg:pointer-events-none'
      >
        <div class='relative space-y-8 py-12 p-8'>
          <div class='max-w-16'>
            <Seven />
          </div>

          <div class='space-y-8 sm:space-y-12'>
            <h5
              class='text-3xl sm:text-4xl font-bold text-primary-700 dark:text-secondary-300 transition group-hover:text-secondary-500 dark:group-hover:text-primary-300'
            >
              Casas y Hogares
            </h5>

            <ul
              class='text-primary-950/80 flex flex-col gap-8 text-xl sm:text-2xl dark:text-secondary-100/80'
            >
              <li
                class='list-disc list-inside marker:text-secondary-600 dark:marker:text-primary-500'
              >
                Desinfección de Superficies.
              </li>
              <li
                class='list-disc list-inside marker:text-secondary-600 dark:marker:text-primary-500'
              >
                Aspirado y Treapeado de Suelos.
              </li>
              <li
                class='list-disc list-inside marker:text-secondary-600 dark:marker:text-primary-500'
              >
                Limpieza de Ventanas.
              </li>
              <li
                class='list-disc list-inside marker:text-secondary-600 text-secondary-600 dark:marker:text-primary-300 dark:text-primary-300'
              >
                Productos Seguros y Eficaces.
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div
        class='group relative flex py-8 sm:justify-center bg-gray-50 dark:bg-gray-800 transition hover:shadow-2xl hover:scale-105 lg:pointer-events-none'
      >
        <div class='relative space-y-8 py-12 p-8'>
          <div class='max-w-16'>
            <Eight />
          </div>

          <div class='space-y-8 sm:space-y-12'>
            <h5
              class='text-3xl sm:text-4xl font-bold text-primary-700 dark:text-secondary-300 transition group-hover:text-secondary-500 dark:group-hover:text-primary-300'
            >
              Oficinas e Instituciones
            </h5>

            <ul
              class='text-primary-950/80 flex flex-col gap-8 text-xl sm:text-2xl dark:text-secondary-100/80'
            >
              <li
                class='list-disc list-inside marker:text-secondary-600 dark:marker:text-primary-500'
              >
                Desinfección de Áreas Comunes.
              </li>
              <li
                class='list-disc list-inside marker:text-secondary-600 dark:marker:text-primary-500'
              >
                Limpieza de Superficies de Alto Contacto.
              </li>
              <li
                class='list-disc list-inside marker:text-secondary-600 dark:marker:text-primary-500'
              >
                Mantenimiento de Baños y Cocinas.
              </li>
              <li
                class='list-disc list-inside marker:text-secondary-600 text-secondary-600 dark:marker:text-primary-300 dark:text-primary-300'
              >
                Adaptación a sus Horarios y Necesidades.
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div
        class='group relative flex py-8 sm:justify-center bg-gray-50 dark:bg-gray-800 transition hover:shadow-2xl hover:scale-105 lg:pointer-events-none'
      >
        <div class='relative space-y-8 py-12 p-8'>
          <div class='max-w-16'>
            <Nine />
          </div>

          <div class='space-y-8 sm:space-y-12'>
            <h5
              class='text-3xl sm:text-4xl font-bold text-primary-700 dark:text-secondary-300 transition group-hover:text-secondary-500 dark:group-hover:text-primary-300'
            >
              Colchones y Muebles
            </h5>

            <ul
              class='text-primary-950/80 flex flex-col gap-8 text-xl sm:text-2xl dark:text-secondary-100/80'
            >
              <li
                class='list-disc list-inside marker:text-secondary-600 dark:marker:text-primary-500'
              >
                Eliminación de Ácaros y Alérgenos.
              </li>
              <li
                class='list-disc list-inside marker:text-secondary-600 dark:marker:text-primary-500'
              >
                Técnicas Avanzadas de Inyección - Extracción.
              </li>
              <li
                class='list-disc list-inside marker:text-secondary-600 dark:marker:text-primary-500'
              >
                Remoción de Manchas, Olores y Suciedad.
              </li>
              <li
                class='list-disc list-inside marker:text-secondary-600 text-secondary-600 dark:marker:text-primary-300 dark:text-primary-300'
              >
                Resultado Impecable con Confort Renovado.
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div
        class='group relative flex py-8 sm:justify-center bg-gray-50 dark:bg-gray-800 transition hover:shadow-2xl hover:scale-105 lg:pointer-events-none'
      >
        <div class='relative space-y-8 py-12 p-8'>
          <div class='max-w-16'>
            <Ten />
          </div>

          <div class='space-y-8 sm:space-y-12'>
            <h5
              class='text-3xl sm:text-4xl font-bold text-primary-700 dark:text-secondary-300 transition group-hover:text-secondary-500 dark:group-hover:text-primary-300'
            >
              Jardinería y Áreas Verdes
            </h5>

            <ul
              class='text-primary-950/80 flex flex-col gap-8 text-xl sm:text-2xl dark:text-secondary-100/80'
            >
              <li
                class='list-disc list-inside marker:text-secondary-600 dark:marker:text-primary-500'
              >
                Poda, Desbroce y Diseño de Áreas Verdes.
              </li>
              <li
                class='list-disc list-inside marker:text-secondary-600 dark:marker:text-primary-500'
              >
                Mantenimiento de Césped, Arbustos y Flores.
              </li>
              <li
                class='list-disc list-inside marker:text-secondary-600 dark:marker:text-primary-500'
              >
                Herramientas de Última Generación.
              </li>
              <li
                class='list-disc list-inside marker:text-secondary-600 text-secondary-600 dark:marker:text-primary-300 dark:text-primary-300'
              >
                Técnicas Ecológicas con Resultados Vibrantes.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </Container>
</div>
